body{background-color: rgb(221, 232, 228);}
#titulo{background-color: rgb(160, 128, 184);text-align: center;}
.cabecalho { background-color: black; color: white; display: flex; justify-content: space-around;}